
:root{
    --black: #030303;
    --blue: #123458;
    --light-beige: #f1efec;
    --dark-beige: #D4C9BE;
} /* use var(--color) instead of copying color codes over and over again*/

/* INTRODUCTION in about.html */
.team_group {
    text-align: center;
}

.about_group_background {
    background: url(/images/picture_placeholder.png);
    width: 100%;
    height: 650px;
    font-size: 100px;
    text-align: center;
    position: relative;
    padding-top: 125px;
}
.about_group_background p {
    font-size: 50px;
}

/* ABOUT TEAM in about.html */
.about_team {
    padding: 100px;
    background-color: var(--blue);
    background: linear-gradient(#030303 2%,#123458 30%,#f1efec);
    color: var(--light-beige);
}

.about_team_title {
    font-size: 50px;
}

.about_team_line {    
    width: 300px;
    height: 2px;
    margin: 10px auto;
    color: var(--light-beige);
    background-color:  var(--light-beige);
}

.about_team article {
    padding-top: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 3px var(--blue);
}

/* ABOUT TEAM MEMBER in about.html */
.team_members {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.about_members_line {
    width: 300px;
    height: 2.5px;
    margin: 10px auto;
    border: none;
    color: var(--blue);
    background-color: var(--blue);
}

.member_info a {
    color:blue;
}

.member_info {
    margin: 50px 0;
}

.member_desc{
    width: 100%; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.member_desc figure img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid var(--blue);
    box-shadow: 0 0 10px var(--dark-beige);
}

.info_section{
    max-width: 500px;
    margin-block: 1.5rem; /*spacing between each set of info*/
    font-size: 20px;
}

.subtitle {
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
    margin: 0;
}

.info_section ul {
    padding-left: 20px;
    margin: 0;
}

.info_section ul li {
    text-align: left;
}

.member_desc_line {
    width: 300px;
    height: 1.5px;
    margin: 10px;
    border: none;
    color: var(--blue);
    background-color: var(--blue);
}

