/* Color:
Black: #030303
Blue: #123458
Light Beige: #f1efec 
Dark Beige (for hover): #D4C9BE */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #f1efec;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
nav {
    width: 100%;
    background-color: #030303;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.brand_logo {  
    background-color: #f1efec;  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 15px;
    color: black;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_items {
    display: flex;
    gap: 10px;
}

.nav_items a {
    text-decoration: none;
    background-color: #f1efec;
    color: black;
    padding: 15px; 
    border-radius: 20px;
    font-weight: bold;
}
.nav_items a:hover {
    background-color: #D4C9BE; 
    transform: scale(1.05);
}

/* INTRODUCTION in about.html */
.team_group {
    text-align: center;
}

.about_group_background {
    background: url(/images/picture_placeholder.png);
    width: 100%;
    height: 650px;
    font-size: 100px;
    text-align: center;
    position: relative;
    padding-top: 125px;
}
.about_group_background p {
    font-size: 50px;
}

/* ABOUT TEAM in about.html */
.about_team {
    padding: 100px;
    background-color: #123458;
    background: linear-gradient(#030303 2%,#123458 30%,#f1efec);
    color:#f1efec;
}

.about_team_title {
    font-size: 50px;
}

.about_team_line {    
    width: 300px;
    height: 2px;
    margin: 10px auto;
    color:#f1efec;
    background-color: #f1efec;
}

.about_team article {
    padding-top: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 3px #123458;
}

/* ABOUT TEAM MEMBER in about.html */
.team_members {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.about_members_line {
    width: 300px;
    height: 2.5px;
    margin: 10px auto;
    border: none;
    color:#123458;
    background-color:#123458;
}

.member_info {
    margin: 50px 0;
}

.member_desc{
    width: 100%; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.member_desc figure img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid #123458;
    box-shadow: 0 0 10px #D4C9BE;
}

.info_section{
    max-width: 500px;
    margin-block: 1.5rem; /*spacing between each set of info*/
    font-size: 20px;
}

.subtitle {
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
    margin: 0;
}

.info_section ul {
    padding-left: 20px;
    margin: 0;
}

.info_section ul li {
    text-align: left;
}

.member_desc_line {
    width: 300px;
    height: 1.5px;
    margin: 10px;
    border: none;
    color:#123458;
    background-color:#123458;
}

/* FOOTER in about.html */
footer {
    background: linear-gradient(#f1efec, #123458 , #030303 70%);
    color:#f1efec;
    padding: 40px;
    padding-top: 100px;
}

.footer_brand_name {
    font-size: 50px;
}

footer section {
    display: flex;
    justify-content: left;
}

footer section div {
    width: 100%;
}

.footer_title {
    font-size: 30px;
}

.footer_line {
    width: 70px;
    height: 2px;
    margin: 0 0 10px;
    margin-top: 10px;
    color:#f1efec;
    background-color: #f1efec;
}

footer p {
    font-size: 20px;
}

footer ul {
    padding-left: 20px;
    font-size: 20px;
}

footer a {
    color:#f1efec;
    text-decoration: none;
}
footer a:hover{
    color: #D4C9BE;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: all 0.3s ease;
}