*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /* for consistent with and height when styling */
}

:root{
    --black: #030303;
    --blue: #123458;
    --light-beige: #f1efec;
    --dark-beige: #D4C9BE;

} /* use var(--color) instead of copying color codes over and over again*/



/* INDEX.HTML STYLING */



/* jobs.HTML STYLING */



/* apply.HTML STYLING */



/* About.HTML STYLING */
