.btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

:root{
    --table-grey: rgb(76, 86, 104);
} 

/* HEADER BAR */
header{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 35px;
    top: 5px;
    left: 5px;
}

header .filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* FILTER DESIGN */
.filter-option{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-weight: 600;
}

select, input{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--blue);
}

/* EOI TABLE */
.eoi {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url("images/ap_background.jpg");  /*put black opacity/gradient over the original background*/
    overflow-x: auto;   /* Enables horizontal scrolling */
    overflow-y: auto;
    width: 90vw;
    height: 65vh;
    margin-left: 5%;
    border-radius:  6px;
}

table{
    background-color: var(--table-grey);
    text-align: center;
    border-collapse: collapse;
}

/* Sticky columns */
.sticky-col {
    position: sticky;
    background: #8F93A2; /* Ensures background covers what's behind */
    color: var(--black);
    left: 0;
    z-index: 2;
}

table tr{
    border-bottom: 1px solid #555; /* color of the row grid */
}

table th, .sticky-head { /*HEADER*/
    position: sticky;
    background-color: var(--blue);
    padding: 0px 16px; 
    color: white;
}

table td{
    background-color: var(--table-grey);
    padding: 0px 16px; 
}

.status-dropdown{
    font-size: 12px;
    width: 58px;
    text-align: center;
}

/* FOOTER EDIT BUTTON */
.footer{
    display: flex;
    justify-content: center;
}

/* HR LOGIN FORM */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form {
  background-color: var(--table-grey);
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: none;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: var(--blue);
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}