/* HEADER BAR */
header{
    background-color: var(--black);
    padding: 2% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 35px;
    top: 5px;
    left: 5px;
}

header .filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* FILTER DESIGN */
.filter-option{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-weight: 600;
}

select, input{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--blue);
}

/* EOI TABLE */
.eoi {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url("images/ap_background.jpg");  /*put black opacity/gradient over the original background*/
    overflow-x: auto;   /* Enables horizontal scrolling */
    overflow-y: auto;
    width: 90vw;
    margin-left: 5%;
    border-radius: 10px;
}

table{
    background-color: grey;
    text-align: center;
    border-collapse: collapse;
}

/* Sticky columns */
.sticky-col {
    position: sticky;
    background: #8F93A2; /* Ensures background covers what's behind */
    color: var(--black);
    left: 0;
}

table th, .sticky-head { /*HEADER*/
    position: sticky;
    background-color: var(--blue);
    padding: 0px 15px; 
    color: white;
}

table td{
    background-color: grey;
    padding: 0px 15px; 
}

/* FOOTER EDIT BUTTON */