

/* HEADER BAR */
header{
    background-color: var(--black);
    margin: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
}

header .brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5%;
}

header img{
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

header .filter{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* FILTER DESIGN */
.filter label{
    font-weight: 1000;
    font-size: 20px;
}

.filter select{
    text-align: center;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 555;
}

.filter option{
    font-weight: 555;
}

/* EOI TABLE */
.eoi {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url("images/ap_background.jpg");  /*put black opacity/gradient over the original background*/
    height: 100vh;
}