
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /* for consistent with and height when styling */
}

:root{
    --black: #030303;
    --blue: #123458;
    --light-beige: #f1efec;
    --dark-beige: #D4C9BE;
    --blue-hightlight:  rgb(60, 77, 164);
} /* use var(--color) instead of copying color codes over and over again*/


body {
    background-color: var(--light-beige);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*  REUSABLE ELEMENTS   */
button{
    border: 2px solid var(--black);
    border-radius: 10px;
    background-color: var(--light-beige);
    padding: 10px;
    margin: 10px;
}

button:hover{
    background-color: var(--dark-beige);
    transform: scale();
}

button a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: var(--black);
}

.title, .subtitle{
    text-align: center;
}

/* Header */
nav {
    width: 100%;
    background-color: var(--black);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.brand_logo {  
    background-color: var(--light-beige);  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 15px;
    color: black;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_items {
    display: flex;
    gap: 10px;
}

.nav_items a {
    text-decoration: none;
    background-color: var(--light-beige);
    color: black;
    padding: 15px; 
    border-radius: 20px;
    font-weight: bold;
}
.nav_items a:hover {
    background-color: var(--dark-beige); 
    transform: scale(1.05);
}


/* footer for all pages styling */
footer {
    background: linear-gradient(#f1efec, #123458 , #030303 70%);
    color:var(--light-beige);
    padding: 40px;
    padding-top: 100px;
}

.footer_brand_name {
    font-size: 50px;
}

footer section {
    display: flex;
    justify-content: left;
}

footer section div {
    width: 100%;
}

.footer_title {
    font-size: 30px;
}

.footer_line {
    width: 70px;
    height: 2px;
    margin: 0 0 10px;
    margin-top: 10px;
    color: var(--light-beige);
    background-color: var(--light-beige);
}

footer p {
    font-size: 20px;
}

footer ul {
    padding-left: 20px;
    font-size: 20px;
}

footer a {
    color: var(--light-beige);
    text-decoration: none;
}
footer a:hover{
    color: var(--dark-beige);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: all 0.3s ease;
}

/* INDEX.HTML STYLING */


/* jobs.HTML STYLING */


/* apply.HTML STYLING */
form {
  max-width: 1000px;       /* widthform */
  margin: 0 auto;         /* center */
  padding: 20px;
  background: #ffffff;   
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* box shadow */
}
h1, h3 {
    text-align: center; /*title*/
    line-height: 2;    
}
fieldset {
  margin: 20px 0;   
  padding: 15px;  
  border-radius: 8px; 
}
legend { 
    text-align: center; 
    font-size: large;     /*heading*/
    font-weight: bold;
    line-height: 4;
}
p {
    line-height: 2;
    text-align: center;
}
/* applysuccess.HTML STYLING */
.submitintro {       
   width: 90%;               
  max-width: 1200px;        
  margin: 250px auto;        
  padding: 40px;
  background: linear-gradient(to right, #ffffff, #ede9fe);
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  text-align: center;
}
/* About.HTML STYLING */
